*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background: green;
    margin: 10px;
    padding: 20px;
    border: 2px solid red; 
    
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-rows: repeat(3,1fr); */
    /* column-span: 2; */
    /* gap: 10px; */
}
/* media que */
@media screen and (max-width:575px) {
    .grid-container{
        flex-direction: column-reverse;
        /* background: red; */
    }
    .box{
        background: red;
        font-size: 10px;
    }
}