* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
li {
  /* text-decoration: none; */
  list-style: none;
}
.navBar {
  background: crimson;
  color: black;
  margin: 2rm;
  padding: 1em;
  border: 2px solid black;
}
@media screen and (max-width:575px) {
  ul {
    flex-direction: column;
    justify-content: center;
    /* align-content: center;
     */
    align-items: center;
  }
}
