* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
li {
  /* text-decoration: none; */
  list-style: none;
}
.navBar {
  background: crimson;
  color: black;
  margin: 2rm;
  padding: 1em;
  border: 2px solid black;
  transition: transform  0.2s ease-in , all 0.8s ease-out;
}
.navBar:hover{
    background: blanchedalmond;
    transform: scale(1.1);
    /* transform: rotateX(360deg); */

}

#blogSection{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px ;

}
#fullSection> h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;

}
#third{
    grid-column: span 3;
  overflow: hidden;  
  /* width: 200px; */
  height: 600px;
  }
.sBlog{
    /* background: green; */
}
.blogOne {
  /* border: 2px solid red; */
  margin-top: 10px;
}
.blogOne img {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* table */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

th, td {
  border: 1px solid rgb(237, 174, 174);
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
/* pagiNation */
.pagenation{
  justify-content: center;
  align-items: center;
  display: flex;
}
.pagenation ul {
  background: darkgray;
  
  width: fit-content;
  margin: 5px;
  padding: 10px;
  border-radius: 30px;
 
}
#page a{ list-style: none;
background: darkkhaki;
text-decoration: none;
color: wheat;
border: 2px solid black;
box-shadow: inset;
border-radius: 30px;
padding: 10px;

}
@media screen and (max-width:575px) {
  ul {
    flex-direction: column;
    justify-content: center;
    /* align-content: center;
     */
    align-items: center;
  }
}
